---
pagination:
  data: "collections.posts"
  size: 1
  alias: post
permalink: "/posts/{{ post.fileSlug }}/open-graph/index.html"
---

<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ post.data.title | default: "George Rodier" }}</title>
    <link rel="stylesheet" href="/style.css?v={% version %}" />
  </head>
  <body
    class="h-full w-full bg-no-repeat bg-cover bg-center"
    style="
      background-image: url('/img/stacked-peaks-haikei.svg');
      aspect-ratio: 1280/100;
    "
  >
    <main class="min-h-full flex flex-col pt-8 relative">
      <div class="px-8">
        <h1
          class="text-7xl p-4 shadow-xl font-bold text-white bg-black bg-opacity-50 rounded-md"
        >
          {{ post.data.title }}
        </h1>
        <div
          class="absolute bottom-8 left-8 shadow-xl text-3xl p-4 font-semibold text-white bg-black bg-opacity-50 rounded-md"
        >
          georgerodier.com
        </div>
        <div class="absolute bottom-8 right-8">
          <img
            height="350px"
            width="350px"
            class="object-cover shadow-xl rounded-full"
            src="/img/georgeprofile.jpeg"
          />
        </div>
      </div>
    </main>
  </body>
</html>
