---
layout: base.liquid
---

<main class="flex flex-col space-y-10">
  <article
    class="mx-auto prose md:prose-lg xl:prose-xl prose-img:mx-auto prose-img:rounded-md font-mono tracking-tight prose-p:leading-snug"
  >
    {{ content }}
  </article>
</main>
